### ------------------------------------ #
### package inizialization               #
### ------------------------------------ #

.onLoad <- function(lib, pkg) {
  require("methods")
}

import(deSolve, rootSolve, simecol)

### ------------------------------------ #
### basic functions of the package       #
### ------------------------------------ #

exportClasses(indbasedModel, timedepModel)

exportMethods("iteration", "observer", "observer<-")

### ------------------------------------ #
### functions that generate the models   #
### ------------------------------------ #

## models from Workgroup Limnology of TU Dresden
exportPattern("mcyst.*")
export(slight, dvm_phyto)
export(daphnia_ibm, daphnia_tefi, daphnia_deb)
export(daphnia_deb_phyto, daphnia_deb_ibm)
export(daphnia_deb_equations, daphnia_deb_lifeequations)

## models from Karline Soetaart, NIOO, The Netherlands
export(Aquaphy, ZooScheldt, NPZriver)


