### ------------------------------------ #
### package initialization               #
### ------------------------------------ #

import(ReacTran, simecol)
useDynLib(simecolModels, .registration = TRUE)

### ------------------------------------ #
### basic functions of the package       #
### ------------------------------------ #

exportClasses(timedepModel)

exportMethods("iteration")

### ------------------------------------ #
### functions that generate the models   #
### ------------------------------------ #

## models from Workgroup Limnology of TU Dresden
exportPattern("mcyst.*")
export(slight, dvm_phyto)
export(daphnia_ibm, daphnia_tefi, daphnia_deb)
export(daphnia_deb_phyto, daphnia_deb_ibm)
export(daphnia_deb_equations, daphnia_deb_lifeequations)

## models from department ecosystem studies, of Netherlands
# institute of Ecology, centre for estuarine and marine ecology, The Netherlands
export(Aquaphy, ZooScheldt, NPZriver, SiDia, OmexDia, OmexDiaDLL,
       algaepH, NPZD)
## models implementing the stream spiralling concept
export(UvasCreek, StreamIron)


