<STYLE type="text/css">
 body {margin-right: 10%; margin-left:10%;}
 h1, h2, h3, h4, h5, p, ul, td {font-family: sans-serif}
 h1, h2, h3, h4 {color: navy}
 h1 {font-size: 20pt}
 h2 {font-size: 16pt}
 h3 {font-size: 12pt}
 h4 {font-size: 100%} 
 p  {font-size: 10pt}
 p.back {font-size: 10pt}
 p.citation {font-size: 80%; margin-left: 2em; margin-bottom:0; margin-top:0.5em; text-indent: -2em}
 a.menu   {text-decoration: none}
 :link    {color: blue;font-family: sans-serif}
 :visited {color: navy;font-family: sans-serif}

 td.menu {font-size: 100%; background: #F0F0F0; text-decoration: none}
 td.colored{font-size: 100%; background: #FFFFCC}
 td.darkcolored{font-size: 100%; background: #FFDD88}
 td.hidden{font-size: 100%}
 .center{text-align: center; font-size:100%; background: #FFFFCC}
 .firstcol{text-align: left; font-size:100%; background: #FFFFAA} /* class="citation"*/
 div.right {font-family: sans-serif; text-align: right}
 div.footnoteright {font-size: 70%; text-align: right}
 
</STYLE>
